{% extends 'base.html' %}
{% block content %}
<div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
    <div
      class="flex-1 max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
    >
      <div class="flex flex-col overflow-y-auto md:flex-row">
        {% if not user.is_authenticated %}
        <div class="h-32 md:h-auto md:w-1/2">
          <img
            aria-hidden="true"
            class="object-cover w-full h-full dark:hidden"
            src="/media/img/login-office.jpeg"
            alt="Office"
          />
          <img
            aria-hidden="true"
            class="hidden object-cover w-full h-full dark:block"
            src="/media/img/login-office-dark.jpeg"
            alt="Office"
          />
        </div>
        {% endif %}
        <div class="flex items-center justify-center p-6 sm:p-12">
            {% block content_auth %}
            {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}